textarea {
    min-height: 400px;
    white-space: pre-line;
}

.emails {
    display: flex;
    flex-direction: row;
    padding: 5px;
    border: 1px solid black;
    cursor: pointer;
}

.emails .sender {
    padding-right: 10px;
}

.emails .timestamp {
    margin-left: auto;
}

.emailsRead {
    display: flex;
    flex-direction: row;
    padding: 5px;
    background-color: rgb(216, 216, 216);
    border: 1px solid black;
    cursor: pointer;
}

.emailsRead .sender {
    padding-right: 10px;
}

.emailsRead .timestamp {
    margin-left: auto;
}

.email .buttons {
    display: flex;
    gap: 3px;
}

.email .body {
    white-space: pre-line;
}