textarea {
    min-height: 400px;
}

.email {
    display: flex;
    flex-direction: row;
    padding: 5px;
    border: 1px solid black;
}

.email .sender {
    padding-right: 10px;
}

.email .timestamp {
    margin-left: auto;
}